* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
}

header {
  background-color: #00509e;
  color: #ffffff;
  text-align: center;
  padding: 16px 0;
}

h1,
h2 {
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #003f7d;
  padding: 12px 24px;
  list-style: none;
}

li a {
  padding: 17px 24px;
}

a:hover {
  background-color: #00509e;
}

h2 {
  color: #00509e;
  font-size: 28px;
  margin-bottom: 8px;
  margin-top: 40px;
  margin-left: 20px;
}

p {
  margin-left: 20px;
  color: #333;
  font-size: 16px;
}

#image {
  border: 2px solid #ddd;
}

#home-1 {
  margin-left: 20px;
  color: #333;
  text-align: center;
  font-size: 16px;
}

footer {
  color: #ffffff;
  background-color: #003f7d;
  text-align: center;
  padding: 20px 0;
  margin-top: 32px;
  font-size: 16px;
}

#footer-home {
  color: #ffffff;
  font-size: 16px;
}

.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
